{$contentClass}
  pre.language-terminal
    code
      color: lightgray
    .green
      color: limegreen
    .red
      color: red
    .black
      color: gray
    .white
      color: white
    .char
      width: 1ch
      display: inline-block
